<h1>Different Functions of Angular2 </h1>
<a [routerLink]="['/template_variables']">Template Variables</a>
<br>

<a [routerLink]="['/arrays']">Arrays</a>
<br>

<a [routerLink]="['/events']">Events</a>
<br>
<a [routerLink]="['/bindProp']">Binding Properties</a>
<br>
<a [routerLink]="['/parentChild']">Parent Child</a>
<br>
<a [routerLink]="['/TreeComp']">Tree Component</a>
<br>
<a [routerLink]="['/childInput']">Child Input</a>
<br>

<a [routerLink]="['/componentList']">Component List</a>
<br>
<a [routerLink]="['/reusableComp']"> Clickable Image</a>
<br>
<a [routerLink]="['/multipleSteps']"> Mutliple Steps</a>











<router-outlet></router-outlet>